<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <form action="/api/files" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
        <button style="grid-column: span 2;" type="submit">Share</button>
      </form>

      <% if (locals.fileLink) { %>
        <div>
            <p>Click <a href="<%= fileLink %>">here</a> to download the file.</p>
        </div>
    <% } %>

    <% if (locals.error) { %>
        <div>
            <p><%= error %></p>
        </div>
    <% } %>
</body>

</html>